<h1 mat-dialog-title>Registro</h1>
<div mat-dialog-content>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Regitra a un nuevo usuario</mat-card-title>
    </mat-card-header>

    <form class="example-form center" id="form" #UserForm="ngForm" (ngSubmit)="agregarUsuario(UserForm)">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Ex. Isaul Belmonte" name="userName" #nombre="ngModel" [(ngModel)]="usuarioGuardar.userName"
            class="form-control" autofocus required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Numero de empleado/Usuario</mat-label>
          <input matInput placeholder="Ex. 091294IB" name="user" #nombre="ngModel" [(ngModel)]="usuarioGuardar.user"
            class="form-control" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Clave</mat-label>
          <input matInput placeholder="Ex. **********" name="password" #nombre="ngModel"
            [(ngModel)]="usuarioGuardar.password" class="form-control" required>
        </mat-form-field>
        <br>
        <label id="example-radio-group-label">Indica el Rol del usuario</label>
        <mat-radio-group matInput aria-labelledby="example-radio-group-label" class="example-radio-group" name="rols"
          [(ngModel)]="rolSelect" #nombre="ngModel">
          <mat-radio-button class="example-radio-button" *ngFor="let rol of tipoRols" [value]="rol">
            {{rol.tipo}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary" [disabled]="UserForm.invalid">Registrar</button>
      </mat-card-actions>

    </form>
  </mat-card>

</div>
<div class="example-button-row">
  <button mat-raised-button color="primary" (click)="onNoClick()">Minimizar</button>
</div>