.example-icon {
    padding: 0 14px;
    margin: 0 10px 0 auto;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-card {
    max-width: 430px;
    margin: 100px auto;
}

.example-card {
    max-width: 850px;
}

.example-header-image {
    background-image: url('../../../../assets/pay.JPG');
    background-size: cover;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 80%;
}

form {
    text-align: center;
}

.example-button-row {
    text-align: right;
    margin: 2px auto;
}

.example-button-row button {
    margin-right: 4px;
}

.registro {
    margin: 20px auto;
    text-align: center;
}

.example-card2 {
    max-width: auto;
    align-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
}

.columna {
    text-align: center;
}

.example-header-image2 {
    background-image: url('../../../../assets/pay.JPG');
    background-size: cover;
}

table {
    width: 100%;
}

.totalFolios {
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #682444;
}

.example-margin {
    margin: 0 10px;
}

.example-card3 {
    margin: 10px auto;
}

.example-container {
    height: 400px;
    overflow: auto;
}

table {
    width: 100%;
}

.example-button-row button {
    display: table-cell;
    margin-right: 8px;
}

.example-flex-container {
    display: flex;

}

.example-button-container {
    display: flex;
    justify-content: center;

}

.tabla-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    /* Fondo semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}