<h1 mat-dialog-title>Editar Información</h1>
<div mat-dialog-content>

    <form class="example-form center" id="form" #DataForm="ngForm" (ngSubmit)="editarInformacion(DataForm)">

        <input type="hidden" name="id" #nombre="ngModel" [(ngModel)] = "id">

        <mat-form-field>
        <mat-label>Clave del documento</mat-label>
        <input matInput [(ngModel)]="clave" name="clave" #nombre="ngModel" placeholder="Ex. MSE-EDM-025-F03" class="form-control" required>
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-label>Fecha de emision</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="fEmision" name="fEmision" #nombre="ngModel" class="form-control" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <br>
        <mat-form-field>
        <mat-label>Emision</mat-label>
        <input matInput [(ngModel)]="emision" name="emision" #nombre="ngModel" placeholder="Ex. 02" class="form-control" required>
        </mat-form-field>
        <br>
        <mat-form-field>
        <mat-label>Periodo</mat-label>
        <input matInput [(ngModel)]="periodo" name="periodo" #nombre="ngModel" placeholder="Ex. 2020-2" class="form-control" required>
        </mat-form-field>


        <div class="example-button-row" id="accionesBoton">
            <button mat-raised-button type="submit" color="primary" [disabled]="DataForm.invalid" >Acceder</button>
        </div>
    </form>

</div>
<div class="example-button-row">
  <button mat-raised-button color="primary" (click)="onNoClick()">Minimizar</button>
</div>